*{
margin: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

header, main, footer,nav{
min-height: 10vh;
border: 1px solid black;
padding: 3%;

}

main{
    min-height: 90vh;
}

nav{
    border: 1px solid black;
    

}

:target{
    border:6px solid black;
    padding: 3%;
}

nav a{
    color: black;
    text-decoration: none;
}

nav{
    display: grid;
    gap: 2rem;
}

img{
    width: 100%;
    display: block;
}

.imgBox{
    aspect-ratio: 1/1 ;
    border: 4px solid #ddd ;
    padding: 2%;
}

.imgBox{
    height: 100%;
    object-fit: cover;
}


